/* Report.css */

.score-circle {
  animation: scaleIn 0.5s ease-out;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.dimension-bar {
  transition: width 1s ease-out;
}
